<div id="hero" class="my-5">
 {{#each blogPosts as |post|}}
    <div id="posts" class="flex flex-row md:container mx-auto"> 
        <h2 id="post-title">{{post.title}}</h2>
    </div>
  {{/each}}
</div>


{{!-- <script src="/js/homepage.js"></script> --}}