{{!-- The body tag can be added to main.handlebars for DRY --}}
<body class="bg-slate-200">
        <div id="post-toast" class="hidden sticky top-0 animate-bounce text-neutral-100 bg-slate-700">
                <h2 class="text-center">Post successfully made!</h2>
        </div>
    <div id="hero" class="flex flex-row justify-center my-5 bg-slate-200">
        

        
        <div class="w-full max-w-4xl p-4 bg-white border border-gray-200 rounded-lg shadow-md sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
            <form id="post-form" class="space-y-6">
                <h5 class="text-xl font-medium text-gray-900 dark:text-white">Enter content</h5>
                 <div>
                    <label for="title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Title</label>
                    <input type="text" name="title" id="title" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="VSCode Tips" required>
                </div>
                 <div>
                    <label for="content" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Content</label>
                    {{!-- https://stackoverflow.com/questions/10186913/html5-textarea-placeholder-not-appearing --}}
                    {{!-- textarea opening and closing tags needs to be on the same line for placeholder to render --}}
                    <textarea type="text" name="content" id="content" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="Use F2 or right-click and click 'rename symbol' on the variable you want to rename. This automatically changes the rest of them wherever it was called" required></textarea>
                </div>

                <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Post</button>
            </form>
        </div>


    </div>

  <script src="/js/post.js"></script>


</body>